---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`Contact | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main id="main" style="max-width: 900px; margin: 0 auto; padding: 2rem 1rem;">
      <h1>Reach out, touch faith</h1>
      <p>My links and contact details, including CV, are accessible below:</p>

      <ul>
        <li>Email: <a href="mailto:steveb1701@outlook.com">steveb1701@outlook.com</a></li>
        <li>GitHub: <a href="https://github.com/StevenBrennan01">github.com/StevenBrennan01</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/steven-brennan-37b473234/">Steven Brennan - LinkedIn</a></li>
      </ul>
    </main>
    <Footer />
  </body>
</html>