---
import { Icon } from 'astro-icon/components';
import { SITE_AUTHOR } from '../consts';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} {SITE_AUTHOR}. All rights reserved.
	<div class="social-links">
		   <a href="https://github.com/StevenBrennan01" target="_blank" rel="noopener noreferrer" aria-label="Steve's GitHub Repo">
			   <Icon name="simple-icons:github" width={36} height={36} aria-hidden="true" />
		   </a>
		   <a href="https://www.linkedin.com/in/steven-brennan-37b473234/" target="_blank" rel="noopener noreferrer" aria-label="Connect with Steve on LinkedIn">
			   <Icon name="mdi:linkedin" width={36} height={36} aria-hidden="true" />
		   </a>
		   <a href="https://steveybr.itch.io/" target="_blank" rel="noopener noreferrer" aria-label="Steve's Itchy itch">
			   <Icon name="simple-icons:itch" width={36} height={36} aria-hidden="true" />
		   </a>
		   <a href="mailto:steveb1701@outlook.com" target="_blank" rel="noopener noreferrer" aria-label="Email Steve">
			   <Icon name="mdi:email" width={36} height={36} aria-hidden="true" />
		   </a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
